<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="javamm.ui.JavammLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Amicable.student/src-gen/javamm/Amicable.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="javamm.Amicable"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Amicable.student"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Amicable.student"/>
</launchConfiguration>
